  .confirmTopAnimation {
    animation-name: displayTop;
    animation-duration: 0.6s
  }
  
  @keyframes displayTop {
    from {
      top:-200px;
       opacity:0
    }
    to {
      top:0px;
      opacity:1
    }
  }